<h3>Hello {{firstName}},</h3>
<p>We are delighted to have you on our platform.</p>
<p>Please open the link below to reset your password and activate your account:</p>
<p><a href="{{url}}" style="text-decoration: underline; color: blue;">{{url}}</a></p> 
<p>This link will expire in 1 hour.</p>
