<h3>Hello {{firstName}},</h3>
<p>We received a request to reset your password. Please click the link below to set a new password:</p>
<a href="{{url}}" style="text-decoration: underline; color: blue;">Reset Password</a>
<p>If you did not request this change, you can safely ignore this email.</p>
<p>This link will expire in 1 hour. If the link does not work, please copy and paste the URL into your browser:</p>
<a href="{{url}}" style="text-decoration: underline; color: blue;">{{url}}</a>
<p>Thank you!</p>
